body {
  font-size: 17px;
  color: rgb(60, 0, 255); /* Sets text color*/
  background-color: rgb(255, 255, 255); /* Sets background color */
  margin-left: 100px;
  margin-right: 100px;
}
  
p {
  text-align: left;
  font-size: 0.9rem;
  margin: 1em 0;
  line-height: 1.5;
}

#submission-form {
  
}



  
